<!--Main layout-->
<main style="margin-top: 50px">
    <!--Section: -->
    <section class="mb-2">
      <div class="card">
        <div class="card-header text-center py-5">
          <h5 class="mb-0 text-center">
            <strong>Contacts</strong>
          </h5>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th scope="col"><strong>Name</strong></th>
                  <th scope="col"><strong>Company</strong></th>
                  <th scope="col"><strong>Title</strong></th>
                  <th scope="col"><strong>Phone</strong></th>
                  <th scope="col"><strong>Email</strong></th>                   
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">John Doe</th>
                  <td>3M</td>
                  <td>Systems Analyst</td>
                  <td>612-385-9658</td>
                  <td>johndoe@mmm.com</td>
                </tr>
                <tr>
                  <th scope="row">Micharl Carrington</th>
                  <td>Target</td>
                  <td>DBA</td>
                  <td>612-895-7849</td>
                  <td>mcarrington@target.com</td>
                </tr>
                <tr>
                  <th scope="row">John Doe</th>
                  <td>3M</td>
                  <td>Systems Analyst</td>
                  <td>612-385-9658</td>
                  <td>johndoe@mmm.com</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
</main>
<!--Main layout-->